@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800&family=Heebo&family=Montserrat:wght@600&family=Open+Sans:wght@500&family=Roboto:wght@400;700&display=swap');
:root {
    --dark-purple: rgba(116, 46, 162, 0.8);
    --light-gray: rgba(199, 208, 216, 0.2);
    --menu-gray: rgba(182, 72, 255, 0.4);
    --card-title-purple: rgba(182, 72, 255, 0.7);
    --cart-purple: rgba(182, 72, 255, 1);
    --offer-purple: rgba(182, 72, 255, 0.9);
    --offer-purple-hover: rgba(182, 72, 255, 0.5);
    --menu-item-purple: rgba(182, 72, 255, 0.7);
    --logo-pink: #ff0099;
    --background-purple: rgba(12, 0, 50, 255);
    --shopping-cart-background: rgba(40, 15, 56, 0.97);
    --shopping-cart-item: rgba(116, 46, 162, 0.5);
}

* {
    /* this makes total size = size + padding + boarder */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
    background-image: url('background.jpg');
    background-color: var(--background-purple);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    overflow-x: hidden;
}


/* Top section */

.top-section {
    user-select: none;
    height: 10vh;
    min-height: 75px;
    background-color: var(--light-gray);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.top-section nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    font-size: 20px;
    display: flex;
}

.nav-list li {
    transition: transform 0.1s linear;
}

.nav-list li:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.nav-list li a {
    transition: color 0.1s linear;
}

.nav-list li a:active {
    color: black;
}

.logo {
    min-width: 280px;
    text-align: center;
    transition: transform 0.1s linear;
}

.logo:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.logo a {
    font-family: 'Big Shoulders Display';
    font-size: 3rem;
    font-weight: 900;
    text-shadow: 1px 1px 100px rgb(251, 67, 238), 1px 1px 10px var(--logo-pink);
    color: var(--logo-pink);
    text-decoration: none;
}

.nav-list li {
    list-style: none;
    margin: auto 2vw;
}

.nav-list li a {
    text-decoration: none;
}

.cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-color: var(--cart-purple);
    height: 100%;
    text-align: center;
    transition: transform 0.1s linear;
}

.cart-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.cart-btn i {
    font-size: 2rem;
    color: black;
}

.cart-btn p {
    font-size: 1.35rem;
    margin-right: 12px;
    color: black;
    font-weight: bolder;
}


/* bottom section  */

.bottom-section {
    min-height: calc(100vh - 75px);
    display: flex;
}

.main-menu {
    user-select: none;
    min-width: 280px;
    min-height: 100%;
    background-color: var(--menu-gray);
}

.main-menu li {
    transition: transform 0.1s linear;
}

.main-menu li:hover {
    cursor: pointer;
    transform: scale(1.07);
}

.menu-item ul {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.menu-item {
    display: flex;
    height: 75px;
    margin: 12px 10px;
    background-color: var(--menu-item-purple);
    border-radius: 5px;
    align-items: center;
    transition: background-color 0.1s linear;
    /* justify-content: center; */
}

.menu-item:active {
    background-color: rgba(256, 256, 256, 0.5);
}


/* adding icons to menu */

.icon-laptop {
    background-image: url('https://cdn-icons-png.flaticon.com/512/3566/3566652.png');
}

.icon-cpu {
    background-image: url('https://cdn-icons-png.flaticon.com/512/1250/1250593.png');
}

.icon-gpu {
    background-image: url('https://cdn-icons-png.flaticon.com/512/100/100310.png');
}

.icon-motherboard {
    background-image: url('https://user-images.githubusercontent.com/68688805/120937883-4af1a580-c725-11eb-8a0f-9f02dc5fb9a5.png');
}

.icon {
    min-width: 35%;
    min-height: 50px;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    margin: auto;
}

.menu-title {
    font-size: 20px;
    min-width: 65%;
    padding-left: 5px;
}

.menu-title a {
    text-decoration: none;
}


/* every state is inside this div  */


/* This is for hide main container */

.hidden-main {
    visibility: hidden;
    height: 0px;
}

.main-container-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: calc(100vw - 300px);
}


/* Main part ends here  */


/* CSS for new section  */

.news-container {
    margin-top: 15px;
    width: 90%;
    background-color: var(--light-gray);
    min-height: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
    position: relative
}

.news-container i {
    margin: 5px;
    font-size: 2rem;
    transition: transform 0.1s linear, color 0.1s linear;
}

.news-container i:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.news-container i:active {
    color: black;
}


/* CSS for news card  */


/* css for hidden news card */

.news-card {
    display: flex;
    height: 100%;
    width: 95%;
    padding: 3vw 3vw;
    transition: transform, 0.3s linear;
}

.hidden-right-news {
    transform: translateX(100%);
    position: absolute;
    visibility: hidden;
    z-index: -1;
}

.hidden-left-news {
    transform: translateX(-100%);
    position: absolute;
    visibility: hidden;
    z-index: -1;
}

.news-description {
    width: 45%;
    height: 100%;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
}

.news-description p {
    text-align: left;
}

.news-image {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.news-image-container {
    width: 100%;
    height: 100%;
    /* background-image: url('https://global.aorus.com/upload/Product/F_20211026122289R8jZW_.JPG'); */
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}


/* css for special offers section  */

.offer-container {
    margin-top: 10px;
    width: 95%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.offer-container h1 {
    user-select: none;
    margin: 50px auto 10px auto;
}

.offer-outer {
    width: 100%;
    /* background-color: #d3d3d3; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer-outer i {
    font-size: 2rem;
    height: 1%;
    margin: auto 10px;
    transition: transform 0.1s linear, color 0.1s linear;
}

.offer-outer i:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.offer-outer i:active {
    color: black;
}

.offer-board {
    width: 100%;
    /* background-color: #d3d3d3; */
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.offer-set {
    /* background-color: #601140; */
    height: auto;
    margin-right: 5px;
    display: flex;
    /* position: relative; */
    transition: transform 0.5s ease-in-out;
}

.offer-card {
    width: 31%;
    min-width: 20vw;
    background-color: var(--menu-gray);
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    border-radius: 5px;
    transition: transform 0.1s linear;
}

.hidden-left-offer {
    transform: translateX(-100%);
    position: absolute;
    visibility: hidden;
    z-index: -1;
}

.offer-card:hover {
    transform: scale(1.05);
}

.offer-card-top {
    padding: 4px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer-image {
    /* background-image: url('https://global.aorus.com/upload/Product/F_20211026122289R8jZW_.JPG'); */
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 25vw;
    border-radius: 5px;
}

.offer-card-top h2 {
    text-align: center;
    padding-top: 20px;
}

.offer-card-top h4 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.offer-card-bottom {
    width: 100%;
    padding-bottom: 25px;
    padding-top: 25px;
    background-color: var(--dark-purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.offer-card-bottom small {
    text-decoration: line-through;
    font-size: 13px;
}

.offer-card-bottom p {
    font-size: 18px;
}

.offer-card-bottom i {
    margin: 10px;
    font-size: 2.5rem;
    transition: transform 0.1s linear, color 0.1s linear;
}

.offer-card-bottom i:hover {
    transform: scale(1.3);
}

.offer-card-bottom i:active {
    color: black
}


/* addition information section  */

.additional-information-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.info {
    width: 50%;
    margin: 30px 5px;
    border-radius: 5px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cart-purple);
}

.info i {
    color: black;
    font-size: 3rem;
}

.info h3 {
    margin-top: 10px;
    user-select: none;
}


/* Device Catogary page specific  */


/* every state is inside this div  */

.main-container {
    display: flex;
    flex-direction: column;
    min-width: calc(100vw - 300px);
}


/* Main part ends here  */


/* Heading  */

.component-title {
    color: rgba(256, 256, 256, 0.9);
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 3rem;
}

.middle-container {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 95%;
    margin: 0 5px 30px 5px;
}


/* controllers  */

.controllers {
    height: 90vh;
    min-height: 99%;
    width: 280px;
    background-color: var(--light-gray);
    margin: 5px;
    border-radius: 5px;
}

.controllers h2 {
    color: rgba(256, 256, 256, 0.9);
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 10px;
}

.category {
    margin-bottom: 20px;
}

.slide {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slide label {
    padding-bottom: 5px;
    font-size: 12px;
    padding-left: 5px;
    width: 100%;
    user-select: none;
}

.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 8px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--logo-pink);
    cursor: pointer;
}

.brand-input {
    user-select: none;
    padding-left: 5px;
    margin-left: 15px;
    margin-top: 6px;
}

.category label {
    user-select: none;
}

.brand-input:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.component-body {
    /* background-color: var(--light-gray); */
    width: 100%;
    padding: 15px;
    display: inline-block;
}


/* css for each item  */

.device-card {
    display: inline-block;
    width: 22%;
    max-width: 250px;
    height: 600px;
    min-width: 220px;
    background-color: var(--menu-gray);
    margin: 5px 10px 20px 10px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    border-radius: 5px;
    transition: transform 0.1s linear;
    position: relative;
}

.device-card:hover {
    transform: scale(1.05);
}

.device-card-top {
    padding: 10px;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.device-image {
    /* background-image: url('https://global.aorus.com/upload/Product/F_20211026122289R8jZW_.JPG'); */
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 65%;
    border-radius: 5px;
}

.device-card-top h2 {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 10%;
    padding-top: 10px;
}

.device-card-top h4 {
    padding-bottom: 10px;
}

.device-card-bottom {
    width: 100%;
    height: 20%;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: var(--dark-purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.device-card-bottom small {
    text-decoration: line-through;
    font-size: 13px;
}

.device-card-bottom p {
    font-size: 18px;
}

.device-card-bottom i {
    margin: 10px;
    font-size: 2.3rem;
    transition: transform 0.1s linear, color 0.1s linear;
}

.device-card-bottom i:hover {
    transform: scale(1.3);
}

.device-card-bottom i:active {
    color: black;
}


/* CSS for cart  */

.cart-container {
    position: absolute;
    background-color: var(--shopping-cart-background);
    z-index: 1;
    width: 100vw;
    height: 160%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 15px;
}

.cart-top {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 95%;
    /* padding-right: 15px; */
}

.cart-top i {
    position: absolute;
    right: 0;
    margin-right: 50px;
    margin-top: 30px;
    font-size: 3rem;
    cursor: pointer;
    transition: transform 0.1s linear, color 0.1s linear;
}

.cart-top i:hover {
    transform: scale(1.2);
}

.cart-top i:active {
    color: black;
}

.cart-top h1 {
    margin-top: 40px;
    font-weight: bolder;
    margin-bottom: 20px;
    font-size: 3rem;
}

.total {
    background-color: var(--card-title-purple);
    width: 100vw;
    height: 3.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    color: black;
    font-weight: 900;
    margin-bottom: 20px;
}

.cart-top hr {
    width: 100vw;
    height: 3px;
    background-color: rgba(256, 256, 256, 0.7);
    border-color: rgba(256, 256, 256, 0.7);
    ;
}

.cart-body {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: 10px;
}

.cart-item {
    background-color: var(--shopping-cart-item);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cart-image {
    background-image: url('https://global.aorus.com/upload/Product/F_20211026122289R8jZW_.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 120px;
    height: 90px;
    margin-left: 15px;
}

.cart-info {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-left: 20px;
}

.cart-info p {
    font-weight: bold;
    font-size: 1.25rem;
}

.cart-info small {
    margin-top: 1px;
}

.increse-decrease-amount {
    user-select: none;
    width: 15%;
    font-size: 1.5rem;
}

.increse-decrease-amount i {
    font-size: 1rem;
    padding-left: 5px;
    padding-right: 5px;
    transition: transform 0.1s linear, color 0.1s linear;
    cursor: pointer;
}

.increse-decrease-amount i:hover {
    transform: scale(1.5);
}

.increse-decrease-amount i:active {
    color: black;
}

.item-price {
    font-size: 2rem;
    padding-right: 15px;
    width: 30%;
    text-align: right;
}


/* Cart css end  */


/* CSS for each Item page */

.main-container-item {
    display: flex;
    flex-direction: column;
}

.item-name {
    padding-left: 30px;
    padding-top: 20px;
}

.item-type {
    padding-left: 30px;
}

.item-main-area {
    width: 100%;
    display: flex;
}

.item-image {
    background-image: url('https://global.aorus.com/upload/Product/F_20211026122289R8jZW_.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    min-width: 30vw;
    margin: 20px 50px;
}

.item-buy {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    margin-right: 50px;
}

.buy-button {
    margin-top: 50px;
    margin-right: 20%;
    min-width: 200px;
    min-height: 70px;
}

.buy-button div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--menu-item-purple);
    transition: transform 0.1s linear, background-color 0.1s linear;
    border-radius: 5px;
}

.buy-button :hover {
    transform: scale(1.2)
}

.buy-button div:active {
    background-color: var(--light-gray);
}

.buy-button div p,
.buy-button div i {
    color: inherit;
    user-select: none;
    font-size: 18px;
    padding-bottom: 5px;
}

.buy-button div p:hover,
.buy-button div i:hover {
    transform: scale(1);
}


/* Notification */

.toast {
    background-color: var(--logo-pink);
    margin: 0.5rem;
    border-radius: 5px;
    padding: 1rem 2rem;
    font-weight: 700;
    box-shadow: 0px 0px 5px rgba(245, 242, 242, 0.5);
    transition: opacity 0.6s linear;
    z-index: 10;
    color: black;
}

.toast.info {
    color: var(--logo-pink);
}

#toasts {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    z-index: 10;
}